@import '../../style/common.scss';

.account_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    width: 105px;
    height: 45px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
  }

  .save_button {
    background-color: $main_green;
    color: white;
  }

  .cancel_button {
    color: $word_grey;
  }

  input {
    width: 347px;
    height: 47px;
    background-color: $account_input;
    color: $word_grey;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    padding: 10px;

    &:disabled {
      background-color: white;
    }
  }
}
