@import '../../../style/common.scss';
// 웹 기준
// 전체 모달창 크기 - width: 980px, height: 549px, border: 12
// 모달창 배치는 웹 페이지 정 중앙 배열로 하면 될 것 같음

// 게시글 보기
// non image area : 431 * 549
// image area : 549 * 549

// 게시글 글 부분
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(112, 112, 112, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.modal-container {
  background-color: #fff;
  width: 61.25rem; //980px;
  height: 36.25rem; //580px;
  border-radius: 0.75rem; //12px;
  box-shadow: 0rem 0rem 0.625rem #00000029;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;

  .react-icons-bsxlg {
    top: 0.625rem;
    right: 0.625rem;
    position: absolute;
    margin: 0.875rem;
    width: 1.375rem;
    height: 1.375rem;
    color: rgba(112, 112, 112, 0.5);
  }
}
