@import '../../style/common.scss';

@include desktop {
  .findIdPw_container {
    padding: 0 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .findIdPw_title {
    font-size: 35px;
    padding: 80px 0 20px;
  }
  .findIdPw_input {
    background-color: $account_input;
    border: none;
    height: 48px;
    padding-left: 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    width: 540px;
    margin: 5px 0;
  }
  .findIdPw_errorMSG {
    color: $account_red;
    font-weight: bold;
    margin: 5px 5px 40px;
  }
  .findIdPw_greenButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 30px;
    height: 48px;
    font-size: 24px;
    transition: all ease 0.2s;
    width: 260px;
    background-color: $main_green;
    &:hover {
      background-color: #fff;
      color: $main_green;
      border: 3px solid $main_green;
    }
  }

  .route_login {
    //임시 칼라 지정
    color: #696969;
    margin-top: 20px;
    margin-bottom: 40px;
    cursor: pointer;
    text-decoration: none;
  }
}

@include mobile {
  .findIdPw_container {
    padding: 90px 0 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .findIdPw_title {
    font-size: 35px;
    padding: 80px 0 10px;
  }
  .findIdPw_input {
    background-color: $account_input;
    border: none;
    height: 48px;
    padding-left: 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    width: 100%;
    margin: 5px 0;
  }
  .findIdPw_errorMSG {
    color: $account_red;
    font-weight: bold;
    margin: 5px 5px 60px;
  }
  .findIdPw_buttonBox {
    margin: 5px 0 0;
    width: 330px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .findIdPw_greenButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 30px;
    height: 48px;
    font-size: 18px;
    transition: all ease 0.2s;
    width: 60%;
    background-color: $main_green;
    &:hover {
      background-color: #fff;
      color: $main_green;
      border: 3px solid $main_green;
    }
  }
  .findIdPw_inputComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .route_login {
    //임시 칼라 지정
    color: #696969;
    margin-top: 120px;
    margin-bottom: 40px;
    cursor: pointer;
    text-decoration: none;
  }
}
