@import '../../style/common.scss';
.heart_button {
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}
.heart_fill_icon {
  color: $account_red;
  // width: 163px;
}
.heart_empty_icon {
  color: white;
}
.like_count_number {
  color: $account_red;
}
.unlike_count_number {
  color: black;
}
