@import '../../style/common.scss';

.cardListWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
  justify-content: space-evenly;
}

.ref {
  height: 100px;
  margin-bottom: 10px;
}

@include mobile {
  .cardListWrapper {
    grid-template-columns: 1fr 1fr;
  }
}
