@charset "UTF-8";
/*반응형 화면 크기 변수*/
/*게시물 관련 모달창 가로, 세로*/
/*반응형, 브라우저 크기가 767이하일 때*/
/*반응형, 브라우저 크기가 1024px 이상일때*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

h1 {
  margin: 0;
}

.app {
  width: 100vw;
  height: 100vh;
}

.input_common {
  background-color: #d4f4e4;
  border: none;
  height: 48px;
  padding-left: 30px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
}

.buttonCommon {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 30px;
  height: 48px;
  font-size: 24px;
  transition: all ease 0.2s;
}
