// 색상 변수
$logo_green: #2bed76;
$logo_lightGreen: #c6f67a;
$logo_dark: #03202c;
$main_green: #41d18a;
$kakao_yellow: #fee502;
$account_input: #d4f4e4;
$account_red: #e85761;
$word_grey: #9a9a9a;

/*반응형 화면 크기 변수*/
$mobile: 767px;
$desktop: 1024px;

/*게시물 관련 모달창 가로, 세로*/
$modal_width: 50rem;
$modal_height: 30rem;

$common_box_shadow: 0rem 0rem 0.7rem #00000029;

/*반응형, 브라우저 크기가 767이하일 때*/
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

/*반응형, 브라우저 크기가 1024px 이상일때*/
@mixin desktop {
  @media (min-width: $mobile) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
h1 {
  margin: 0;
}
.app {
  width: 100vw;
  height: 100vh;
}
.input_common {
  background-color: $account_input;
  border: none;
  height: 48px;
  padding-left: 30px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
}
.buttonCommon {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 30px;
  height: 48px;
  font-size: 24px;
  transition: all ease 0.2s;
}
