// 색상 변수
$logo_green: #2bed76;
$logo_lightGreen: #c6f67a;
$logo_dark: #03202c;
$main_green: #41d18a;
$kakao_yellow: #fee502;
$account_input: #d4f4e4;
$account_red: #e85761;

* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
h1 {
  margin: 0;
}
