@charset "UTF-8";
/*반응형 화면 크기 변수*/
/*게시물 관련 모달창 가로, 세로*/
/*반응형, 브라우저 크기가 767이하일 때*/
/*반응형, 브라우저 크기가 1024px 이상일때*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

h1 {
  margin: 0;
}

.app {
  width: 100vw;
  height: 100vh;
}

.input_common {
  background-color: #d4f4e4;
  border: none;
  height: 48px;
  padding-left: 30px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
}

.buttonCommon {
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 30px;
  height: 48px;
  font-size: 24px;
  transition: all ease 0.2s;
}

@media ((min-width: 767.1px) and (max-width: 800.1px)) {
  .container_wrapper {
    width: 50rem;
    height: 30rem;
    display: flex;
  }
  .img_container_web {
    display: none;
  }
  .non_img_container {
    float: right;
    display: flex;
    flex: 3;
    flex-wrap: wrap;
    flex-direction: column;
    width: 20rem;
    height: 30rem;
    border-radius: 0rem 0.75rem 0.75rem 0rem;
    z-index: 10;
  }
  .non_img_container .img_container_mobile {
    display: none;
  }
  .post_section {
    display: flex;
    flex-direction: column;
    flex: 1.35;
    width: 100%;
  }
  .post_section_header {
    display: flex;
    flex: 0.3;
    width: 100%;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
  }
  .post_section_header .user_profile_img {
    display: flex;
    flex: 0.1;
    margin-left: 0.8rem;
    width: 1.5rem;
    height: 1.5rem;
    color: gray;
  }
  .post_section_header .user_name {
    display: flex;
    flex: 0.8;
    margin-left: 0.7rem;
  }
  .post_section_header .subscription_btn {
    display: flex;
    flex: 0.1;
    position: absolute;
    right: 3rem;
    width: 1.3rem;
    height: 1.3rem;
    color: #41d18a;
  }
  .post_section_body {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: azure;
    border-bottom: 1px solid #e6e6e6;
  }
  .post_section_body .text_section {
    display: flex;
    margin: 0.8rem;
    height: 100%;
  }
  /** 코멘트 컴포넌트 분리 필요 => map */
  .comment_read_section {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 1rem;
  }
  .comment_component {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 0.7rem;
    font-size: 13px;
  }
  .comment_user {
    align-items: center;
    display: flex;
    flex-direction: row;
    /** ❗ 댓글 폰트 스타일 적용 안됨*/
  }
  .comment_user .user_profile_img {
    display: flex;
    flex-direction: row;
    width: 1.3rem;
    height: 1.3rem;
    color: gray;
  }
  .comment_user .user_name_comment {
    display: flex;
    margin-left: 0.5rem;
  }
  .comment_text {
    font-size: 10px;
    color: gray;
  }
  .read_all_comments_btn {
    color: #41d18a;
  }
  /** 댓글 입력창 컴포넌트 분리 필요*/
  .comment_input_section {
    align-items: center;
    padding: 0.8rem;
    display: flex;
    flex: 0.2;
    background-color: #41d18a;
    border-radius: 0 0 0.75rem 0;
  }
  .like_section {
    display: flex;
    flex-direction: column;
    flex: 0.2;
  }
  .like_section .like_btn_icon {
    color: #e85761;
  }
  .like_section .like_count_number {
    color: #e85761;
  }
  .comment_input {
    flex: 1.5;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0.5rem;
    padding-left: 0.3rem;
  }
  .send_btn_icon {
    margin-left: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}
@media (max-width: 767px) {
  .container_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .non_img_container {
    flex: 1;
    float: right;
    display: flex;
    flex: 3;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 0rem 0.75rem 0.75rem 0rem;
    z-index: 10;
  }
  .post_section {
    display: flex;
    flex: 2;
    flex-direction: column;
    flex: 1.35;
    width: 100%;
  }
  .post_section_header {
    display: flex;
    flex: 0.15;
    width: 100%;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
  }
  .post_section_header .user_profile_img {
    display: flex;
    margin-left: 0.8rem;
    width: 2rem;
    height: 2rem;
    color: gray;
  }
  .post_section_header .user_name {
    display: flex;
    flex: 0.7;
    margin-left: 0.7rem;
  }
  .post_section_header .subscription_btn {
    display: flex;
    flex: 0.1;
    position: absolute;
    right: 3rem;
    width: 1.3rem;
    height: 1.3rem;
    color: #41d18a;
  }
  .post_section_body {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: azure;
    border-bottom: 1px solid #e6e6e6;
  }
  .post_section_body .img_container_mobile {
    flex: 0.7;
    background-color: gray;
    float: left;
    z-index: 10;
  }
  .post_section_body .text_section {
    flex: 0.3;
    display: flex;
    margin: 0.8rem;
    height: 100%;
  }
  /** 코멘트 컴포넌트 분리 필요 => map */
  .comment_read_section {
    display: flex;
    flex-direction: column;
    flex: 0.2;
    margin: 1rem;
  }
  .comment_component {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 0.7rem;
    font-size: 13px;
  }
  .comment_user {
    align-items: center;
    display: flex;
    flex-direction: row;
    /** ❗ 댓글 폰트 스타일 적용 안됨*/
  }
  .comment_user .user_profile_img {
    display: flex;
    flex-direction: row;
    width: 1.3rem;
    height: 1.3rem;
    color: gray;
  }
  .comment_user .user_name_comment {
    display: flex;
    margin-left: 0.5rem;
  }
  .comment_text {
    font-size: 10px;
    color: gray;
  }
  .read_all_comments_btn {
    color: #41d18a;
  }
  /** 댓글 입력창 컴포넌트 분리 필요*/
  .comment_input_section {
    align-items: center;
    padding: 0.8rem;
    display: flex;
    flex: 0.1;
    background-color: #41d18a;
  }
  .like_section {
    display: flex;
    flex-direction: column;
    flex: 0.1;
  }
  .like_section .like_btn_icon {
    color: #e85761;
  }
  .like_section .like_count_number {
    color: #e85761;
  }
  .comment_input {
    flex: 1.6;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0.5rem;
    padding-left: 0.3rem;
  }
  .send_btn_icon {
    margin-left: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}
@media (min-width: 767px) {
  .container_wrapper {
    width: 50rem;
    height: 30rem;
    display: flex;
  }
  .img_container_web {
    width: 30rem;
    height: 30rem;
    border-radius: 0.75rem 0 0 0.75rem;
    background-color: gray;
    float: left;
    z-index: 10;
  }
  .non_img_container {
    float: right;
    display: flex;
    flex: 3;
    flex-wrap: wrap;
    flex-direction: column;
    width: 20rem;
    height: 30rem;
    border-radius: 0rem 0.75rem 0.75rem 0rem;
    z-index: 10;
  }
  .non_img_container .img_container_mobile {
    display: none;
  }
  .post_section {
    display: flex;
    flex-direction: column;
    flex: 1.35;
    width: 100%;
  }
  .post_section_header {
    display: flex;
    flex: 0.3;
    width: 100%;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
  }
  .post_section_header .user_profile_img {
    display: flex;
    flex: 0.1;
    margin-left: 0.8rem;
    width: 1.5rem;
    height: 1.5rem;
    color: gray;
  }
  .post_section_header .user_name {
    display: flex;
    flex: 0.8;
    margin-left: 0.7rem;
  }
  .post_section_header .subscription_btn {
    display: flex;
    flex: 0.1;
    position: absolute;
    right: 3rem;
    width: 1.3rem;
    height: 1.3rem;
    color: #41d18a;
  }
  .post_section_body {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: azure;
    border-bottom: 1px solid #e6e6e6;
  }
  .post_section_body .text_section {
    display: flex;
    margin: 0.8rem;
    height: 100%;
  }
  /** 코멘트 컴포넌트 분리 필요 => map */
  .comment_read_section {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 1rem;
  }
  .comment_component {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 0.7rem;
    font-size: 13px;
  }
  .comment_user {
    align-items: center;
    display: flex;
    flex-direction: row;
    /** ❗ 댓글 폰트 스타일 적용 안됨*/
  }
  .comment_user .user_profile_img {
    display: flex;
    flex-direction: row;
    width: 1.3rem;
    height: 1.3rem;
    color: gray;
  }
  .comment_user .user_name_comment {
    display: flex;
    margin-left: 0.5rem;
  }
  .comment_text {
    font-size: 10px;
    color: gray;
  }
  .read_all_comments_btn {
    color: #41d18a;
  }
  /** 댓글 입력창 컴포넌트 분리 필요*/
  .comment_input_section {
    align-items: center;
    padding: 0.8rem;
    display: flex;
    flex: 0.2;
    background-color: #41d18a;
    border-radius: 0 0 0.75rem 0;
  }
  .like_section {
    display: flex;
    flex-direction: column;
    flex: 0.2;
  }
  .like_section .like_btn_icon {
    color: #e85761;
  }
  .like_section .like_count_number {
    color: #e85761;
  }
  .comment_input {
    flex: 1.5;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0.5rem;
    padding-left: 0.3rem;
  }
  .send_btn_icon {
    margin-left: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}