@import '../../style/common.scss';

@include desktop {
  .infoContainer {
    border-top: 2px solid $word_grey;
    border-bottom: 1px solid $word_grey;
    display: flex;
    justify-content: center;
    margin: 30px 0 100px 0;
    ul {
      width: 1050px;
      display: flex;
      margin-left: 10px;
    }
    li {
      color: $word_grey;
      font-size: 12px;
      margin: 10px 20px;
    }
    select {
      color: $word_grey;
      margin: 0 30px 0 0;
    }
  }
}

@include mobile {
  .infoContainer {
    display: none;
  }
}
