@import '../../style/common.scss';

@include middle {
  .write_modal_add_img_icon {
    width: 4rem !important;
    height: 4rem !important;
    color: gray;
  }
  .add_img_btn {
  }
}

@include mobile {
  .add_img_btn {
  }
  .write_modal_add_img_icon {
    width: 4rem;
    height: 4rem;
    color: gray;
  }
}

@include desktop {
  .write_modal_add_img_icon {
    width: 8rem;
    height: 8rem;
    color: gray;
  }
  .imgInputTag {
  }
  .add_img_btn {
  }
}
