@import '../../style/common.scss';
@import '../Modal/modal.module.scss';
@font-face {
  font-family: DoHyeon;
  src: url(../../assets/font/Do_Hyeon/DoHyeon-Regular.ttf);
}

@include desktop {
  .login_container {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .login_title {
    font-size: 35px;
    padding: 40px 0 0;
  }
  .login_describe {
    font-size: 17px;
    //임시 칼라 지정
    color: #696969;
    padding: 10px 0 15px;
    margin: 0 0 15px;
  }
  .login_input {
    background-color: $account_input;
    border: none;
    height: 48px;
    padding-left: 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    width: 540px;
    margin: 5px 0;
  }
  .login_errorMSG {
    color: $account_red;
    font-weight: bold;
    margin: 5px;
  }
  .login_buttonBox {
    width: 570px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .login_normal {
    border: none;
    font-family: DoHyeon;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 30px;
    height: 48px;
    font-size: 24px;
    transition: all ease 0.2s;
    width: 260px;
    background-color: $main_green;
    &:hover {
      background-color: #fff;
      color: $main_green;
      border: 3px solid $main_green;
    }
  }
  .login_kakao {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 30px;
    height: 48px;
    font-size: 24px;
    transition: all ease 0.2s;
    width: 260px;
    background-color: $kakao_yellow;
    &:hover {
      background-color: #fff;
      border: 3px solid $kakao_yellow;
    }
  }
  .autologin_radiobutton {
    font-size: 20px;
    padding: 20px 0;
  }
  .route_box {
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
  }
  .route_register,
  .route_FindUserInfoPage {
    //임시 칼라 지정
    color: #696969;
    cursor: pointer;
    text-decoration: none;
  }
}

@include mobile {
  .login_container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .login_title {
    font-size: 35px;
    padding: 40px 0 0;
  }
  .login_describe {
    font-size: 17px;
    //임시 칼라 지정
    color: #696969;
    padding: 10px 0 15px;
    margin: 0 0 15px;
  }
  .login_inputComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .login_input {
    background-color: $account_input;
    border: none;
    height: 48px;
    padding-left: 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    width: 100%;
    margin: 5px 0;
  }
  .login_errorMSG {
    color: $account_red;
    font-weight: bold;
    margin: 5px;
  }
  .login_buttonBox {
    width: 375px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .login_normal {
    font-family: DoHyeon;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 30px;
    height: 48px;
    font-size: 18px;
    transition: all ease 0.2s;
    width: 160px;
    background-color: $main_green;
    &:hover {
      background-color: #fff;
      color: $main_green;
      border: 3px solid $main_green;
    }
  }
  .login_kakao {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 30px;
    height: 48px;
    font-size: 18px;
    transition: all ease 0.2s;
    width: 160px;
    background-color: $kakao_yellow;
    &:hover {
      background-color: #fff;
      border: 3px solid $kakao_yellow;
    }
  }
  .autologin_radiobutton {
    font-size: 20px;
    padding: 20px 0;
  }

  .route_box {
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
  }
  .route_register,
  .route_FindUserInfoPage {
    //임시 칼라 지정
    color: #696969;
    text-decoration: none;
    cursor: pointer;
  }
}
